<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>

    <body>
        {{> header}}

        <h2>Projects</h2>
        
        <ul>
            <li><a href="https://aqueous-fortress-63561.herokuapp.com/">Aqueous Fortress</a></li>
        </ul>

        {{> footer}}
    </body>
</html>